<meta charset='UTF-8'>
<link rel="stylesheet" media="all" href="https://design.hse.ru/assets/new_hope/header_private-261c2c3fd97c0e88028fcfe5f5852896be265867713c0a4e10842a6bc5ccba94.css" />

<div class='header__top-hole header__private'></div>
<header class='header__private'>
<div class='header__relative'>
<div class='header__top'>
<div class='container-fluid container-fluid__menu'>
<div class='header__top-container'>
<div class='header__top-left'>
<div class='header__top-left-line'></div>
<div class='header__top-logo-school'>
<a class='header__top-logo-school-regular' href='https://design.hse.ru'>
<img src="https://design.hse.ru/assets/new_hope_images/main_logo_university-3fa7f5197a65d04e80b7e9258a87c639513a07e035b382a7f3e9c9e0c002ec72.svg" />
</a>
<a class='top-150' href='https://design.hse.ru/news/1765'>
<svg width="186" height="30" viewBox="0 0 186 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="186" height="20" rx="6" fill="#F7A600"/>
<path d="M16.535 4.5H8.24V6.78H11.135V15H13.64V6.78H16.535V4.5ZM16.9521 9.75C16.9521 12.78 19.3521 15.225 22.3821 15.225C25.3971 15.225 27.8271 12.78 27.8271 9.75C27.8271 6.72 25.3971 4.275 22.3821 4.275C19.3521 4.275 16.9521 6.72 16.9521 9.75ZM19.5021 9.75C19.5021 8.055 20.5971 6.72 22.3821 6.72C24.1821 6.72 25.2771 8.055 25.2771 9.75C25.2771 11.445 24.1821 12.78 22.3821 12.78C20.5971 12.78 19.5021 11.445 19.5021 9.75ZM29.5121 4.5V15H32.0171V11.745H33.4721C35.4221 11.745 37.1021 10.2 37.1021 8.115C37.1021 6.075 35.5421 4.5 33.4721 4.5H29.5121ZM32.0171 6.78H33.1871C33.9671 6.78 34.5971 7.365 34.5971 8.115C34.5971 8.88 33.9671 9.45 33.1871 9.45H32.0171V6.78ZM37.6039 11.985H42.0439V10.125H37.6039V11.985ZM42.9286 6.705L43.9186 8.445L45.8836 7.335V12.705H43.4236V15H50.8636V12.705H48.3886V4.32H47.1286L42.9286 6.705ZM58.9972 4.5H53.4322L52.2322 9.795L53.6722 10.635C54.1972 10.335 54.6622 10.14 55.1722 10.14C56.1622 10.14 56.8072 10.83 56.8072 11.655C56.8072 12.48 56.0872 13.125 55.1122 13.125C54.3322 13.125 53.9122 12.72 53.5222 12L51.7222 12.975C52.6072 14.55 53.8822 15.225 55.3372 15.225C57.7822 15.225 59.2822 13.44 59.2822 11.655C59.2822 10.14 58.3072 8.295 55.8472 8.295C55.3672 8.295 54.9772 8.37 54.6472 8.505L55.1272 6.795H58.9972V4.5ZM64.6373 15.225C67.1123 15.225 68.6123 13.065 68.6123 9.75C68.6123 6.45 67.1123 4.275 64.6373 4.275C62.1623 4.275 60.6473 6.45 60.6473 9.75C60.6473 13.065 62.1623 15.225 64.6373 15.225ZM64.6373 6.375C65.4773 6.375 66.1073 7.695 66.1073 9.75C66.1073 11.805 65.4773 13.125 64.6373 13.125C63.7823 13.125 63.1523 11.805 63.1523 9.75C63.1523 7.695 63.7823 6.375 64.6373 6.375ZM85.2341 13.575C85.0391 13.605 84.8891 13.635 84.7241 13.635C84.2291 13.635 83.8391 13.38 83.4941 13.035C84.1691 12.12 84.5741 10.98 84.5741 9.75C84.5741 6.72 82.1441 4.275 79.1291 4.275C76.0991 4.275 73.6991 6.72 73.6991 9.75C73.6991 12.78 76.0991 15.225 79.1291 15.225C80.0891 15.225 80.9741 14.985 81.7541 14.55C82.3541 15.3 83.0591 16.035 84.1091 16.035C84.4541 16.035 84.8141 15.99 85.2341 15.885V13.575ZM76.2341 9.75C76.2341 8.055 77.3441 6.72 79.1291 6.72C80.9141 6.72 82.0241 8.055 82.0241 9.75C82.0241 10.26 81.9191 10.755 81.7241 11.175C81.4991 11.04 81.2441 10.965 80.9591 10.965C80.7791 10.965 80.5991 10.98 80.3891 11.025L79.4591 12.765C79.3541 12.78 79.2341 12.78 79.1291 12.78C77.3441 12.78 76.2341 11.445 76.2341 9.75ZM85.6326 13.485C86.8326 14.715 88.0176 15.225 89.4276 15.225C92.0976 15.225 93.3126 13.635 93.3126 11.91C93.3126 7.86 88.4076 8.985 88.4076 7.26C88.4076 6.585 88.8726 6.27 89.6226 6.27C90.5376 6.27 91.0926 6.63 91.9176 7.38L93.2376 5.835C92.0526 4.8 91.1676 4.275 89.6376 4.275C87.3276 4.275 86.0226 5.655 86.0226 7.335C86.0226 11.445 90.9126 10.23 90.9126 11.91C90.9126 12.615 90.3126 13.125 89.4276 13.125C88.6926 13.125 87.7626 12.795 86.9526 11.955L85.6326 13.485ZM99.8116 5.64H101.117C102.272 5.64 103.067 6.21 103.067 7.305C103.067 8.31 102.437 8.97 101.402 8.97H99.8116V5.64ZM99.8116 13.86V10.11H101.432C102.737 10.11 103.742 10.905 103.742 12C103.742 13.23 102.707 13.86 101.432 13.86H99.8116ZM101.807 15C103.547 15 104.912 13.8 104.912 12.18C104.912 11.01 104.342 9.795 102.662 9.48C103.622 9.12 104.252 8.19 104.252 7.08C104.252 5.625 103.052 4.5 101.462 4.5H98.6416V15H101.807ZM108.942 11.43V15H110.112V11.43L113.682 4.5H112.362L109.527 10.02L106.692 4.5H105.372L108.942 11.43ZM119.505 7.095C119.505 6.045 120.36 5.37 121.65 5.37C122.85 5.37 123.555 5.895 124.515 6.855L125.25 5.91C124.14 4.86 123.225 4.275 121.665 4.275C119.7 4.275 118.38 5.4 118.38 7.095C118.38 11.235 124.215 9.315 124.215 12.075C124.215 13.14 123.285 14.115 121.71 14.115C120.54 14.115 119.7 13.56 118.755 12.645L118.035 13.53C119.145 14.64 120.21 15.225 121.71 15.225C123.945 15.225 125.4 13.77 125.4 12.06C125.4 8.01 119.505 9.915 119.505 7.095ZM135.807 4.5H134.637V10.83C134.637 12.81 133.182 14.085 131.352 14.085C129.522 14.085 128.067 12.81 128.067 10.83V4.5H126.897V10.83C126.897 13.425 128.742 15.225 131.352 15.225C133.962 15.225 135.807 13.425 135.807 10.83V4.5ZM139.157 5.64H140.462C141.617 5.64 142.412 6.21 142.412 7.305C142.412 8.31 141.782 8.97 140.747 8.97H139.157V5.64ZM139.157 13.86V10.11H140.777C142.082 10.11 143.087 10.905 143.087 12C143.087 13.23 142.052 13.86 140.777 13.86H139.157ZM141.152 15C142.892 15 144.257 13.8 144.257 12.18C144.257 11.01 143.687 9.795 142.007 9.48C142.967 9.12 143.597 8.19 143.597 7.08C143.597 5.625 142.397 4.5 140.807 4.5H137.987V15H141.152ZM148.737 12.165C148.737 13.47 148.257 14.115 147.012 14.115C146.382 14.115 145.812 13.845 145.302 13.395L144.627 14.265C145.272 14.85 146.142 15.225 147.012 15.225C149.412 15.225 149.907 13.365 149.907 12.165V4.5H148.737V12.165ZM156.903 13.86H152.868V10.11H156.528V8.97H152.868V5.64H156.903V4.5H151.698V15H156.903V13.86ZM163.73 15.225C165.575 15.225 167.21 14.31 168.2 12.9L167.27 12.24C166.505 13.35 165.23 14.085 163.73 14.085C161.285 14.085 159.44 12.15 159.44 9.75C159.44 7.35 161.285 5.415 163.73 5.415C165.23 5.415 166.505 6.15 167.27 7.26L168.2 6.6C167.21 5.19 165.575 4.275 163.73 4.275C160.7 4.275 158.255 6.72 158.255 9.75C158.255 12.78 160.7 15.225 163.73 15.225ZM173.999 15V5.64H177.584V4.5H169.244V5.64H172.829V15H173.999Z" fill="white"/>
</svg>
</a>
</div>
<div class='header__top-arr'></div>
</div>
<div class='header__top-right'>
<%=
	dropdown = {
		title: 'Кампусы',
		items: [ 
			{ title: 'Кампус в Москве', link: 'https://design.hse.ru/' },
			{ title: 'Кампус в Санкт-Петербурге', link: 'https://design.hse.ru/dir/spbdesign' },
			{ title: 'Кампус в Нижнем Новгороде', link: 'https://design.hse.ru/dir/nndesign' },
			{ title: 'Онлайн-бакалавриат', link: 'https://design.hse.ru/online/ba' },
			{ title: 'Все кампусы', link: 'https://design.hse.ru/info/campuses' }
		]
	}
	render partial: 'dropdown', object: dropdown
%>
<a class='header__openday' href='https://design.hse.ru/info/openday'>Дни открытых дверей</a>
<a class='header__tel-btn' href='https://design.hse.ru/questions-about-admission'></a>
<a class='header__tel-btn-long' href='https://design.hse.ru/join'>
Как поступить
</a>
</div>
</div>
</div>
</div>
<div class='header__menu'>
<div class='container-fluid container-fluid__menu'>
<div class='header__menu-overflow'>
<div class='header__menu-big draggable'>
<a class='header__menu-big-item' href='https://design.hse.ru/ba'>Бакалавриат</a>
<a class='header__menu-big-item' href='https://design.hse.ru/ma'>Магистратура</a>
<a class='header__menu-big-item m__long' href='https://design.hse.ru/dop'>Дополнительное образование</a>
<a class='header__menu-big-item m__short' href='https://design.hse.ru/dop'>ДПО</a>
<a class='header__menu-big-item' href='https://design.hse.ru/dop/crash'>Короткие курсы</a>
<a class='header__menu-big-item' href='https://design.hse.ru/asp'>Аспирантура</a>
<a class='header__menu-big-item' href='https://design.hse.ru/online/ba' style='color:#0050CF;'>Онлайн-бакалавриат</a>
<a class='header__menu-big-item' href='https://design.hse.ru/microdegree'>Microdegree</a>
<a class='header__menu-big-item' href='https://hsedesign.ru'>Конкурсное портфолио</a>
<a class='header__menu-big-item' href='https://design.hse.ru/info/campuses'>Кампусы</a>
<a class='header__menu-big-item' href='https://creativemap.hse.ru'>Все курсы</a>
</div>
</div>
<div class='header__menu-overflow'>
<div class='header__menu-small draggable'>
<a class='header__menu-small-item' href='https://design.hse.ru/info/about'>О школе</a>
<a class='header__menu-small-item' href='https://design.hse.ru/kids' style='color: #EB4230;'>Детская школа</a>
<a class='header__menu-small-item' href='https://design.hse.ru/join'>Поступающим</a>
<a class='header__menu-small-item' href='https://design.hse.ru/info/students'>Студентам</a>
<a class='header__menu-small-item' href='https://portfolio.hse.ru/'>Рабочее портфолио</a>
<a class='header__menu-small-item m__long' href='https://hsedesignlab.ru'>Лаборатория дизайна</a>
<a class='header__menu-small-item m__short' href='https://hsedesignlab.ru'>Лаборатория дизайна</a>
<a class='header__menu-small-item' href='https://design.hse.ru/newspaper'>Новости</a>
<a class='header__menu-small-item' href='https://design.hse.ru/media'>Медиа</a>
<a class='header__menu-small-item' href='#footer'>Еще</a>
<a class='header__menu-small-item' href='https://design.hse.ru/info/alumni'>ALUMNI</a>
<a class='header__menu-small-item' href='https://art.hse.ru/gallery'>HSE ART GALLERY</a>
<div class='header__menu-small-item-right'>
<a class='header__menu-small-item' href='https://art.hse.ru'>Современное искусство</a>
</div>
</div>
</div>
</div>
</div>
<div class='header__contact footer'>
<div class='container-fluid container-fluid__menu'>
<div class='footer__top'>
<div class='row'>
<div class='col-xl-6 col-lg-6 col-12'>
<div class='footer__title-contact'>
<b>
Телефоны
</b>
</div>
<div class='footer__tel-top'>
<div class='footer__top-item'>
<a href='tel:+74956218711'>
<h4>
+7 495 621-87-11
</h4>
</a>
<p>
<b>По общим вопросам</b>
</p>
</div>
<div class='footer__top-item'>
<a href='tel:+79161709803'>
<h4>
+7 916 170-98-03
</h4>
</a>
<a href='tel:+79262796914'>
<h4>
+7 926 279-69-14
</h4>
</a>
<p>
<b>По вопросам поступления</b>
<br>
<span>Бакалавриат и магистратура&nbsp;</span>
<br>
<span>С понедельника по пятницу</span>
<br>с 10:00 до 18:00</br>
</p>
</div>
<div class='footer__top-item'>
<a href='tel:+79255677470'>
<h4>
+7 925 567-74-70
</h4>
</a>
<a href='tel:+79267265080'>
<h4>
+7 926 726-50-80
</h4>
</a>
<p>
<b>По вопросам поступления</b>
<br>
Дополнительное образование
<br>
<span>С 10:30 до 19:00&nbsp;</span>
</p>
<a href='tel:+79166403904'>
<h4>
+7 916 640-39-04
</h4>
</a>
<p>
<b>По вопросам поступления</b>
<br>
Детская школа дизайна
<br>
<span>С 10:30 до 19:00&nbsp;</span>
</p>
</div>
</div>
</div>
<div class='col-xl-6 col-lg-6 col-12'>
<div class='footer__title-contact'>
<b>
Адрес и Email
</b>
</div>
<div class='footer__tel-bottom'>
<div class='footer__top-item'>
<a href='https://maps.google.ru/maps?q=%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0,+%D0%9C%D0%B0%D0%BB%D0%B0%D1%8F+%D0%9F%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%81%D0%BA%D0%B0%D1%8F,+12+%D0%BC.+%D0%9F%D0%B0%D0%B2%D0%B5%D0%BB%D0%B5%D1%86%D0%BA%D0%B0%D1%8F&amp;amp;ie=UTF-8&amp;amp;hq=&amp;amp;hnear=0x46b54b193236fb6f:0xe90018517ce3a6c4,%D0%9C%D0%B0%D0%BB%D0%B0%D1%8F+%D0%9F%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%81%D0%BA%D0%B0%D1%8F+%D1%83%D0%BB.,+12,+%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0&amp;amp;gl=ru&amp;amp;ei=Aj2YUv3CNOXJ4ATQsYCYAg&amp;amp;ved=0CCcQ8gEwAA'>
<h4>
Ул. М. Пионерская, 12
</h4>
</a>
<p>
Метро &laquo;Павелецкая&raquo;
</p>
</div>
<div class='footer__top-item'>
<a href='mailto:design@hse.ru'>
<h4>
design@hse.ru
</h4>
</a>
<p>
Основное образование
</p>
</div>
<div class='footer__top-item'>
<a href='mailto:dop-design@hse.ru'>
<h4>
dop-design@hse.ru
</h4>
</a>
<p>
Дополнительное образование
</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</header>


<script src="https://design.hse.ru/assets/new_hope/site_private-fa9fb2d8ebca4eca2f2bfdc66f34dac920123085850e6a031b1e5126d9034ce1.js"></script>
