/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header__dropdown {
    position: relative;
    z-index: 999;
}
.active .header__dropdown-body {
    display: flex;
}
.active .header__dropdown-title p {
    color: grey;
}
.active .header__dropdown-title svg {
    stroke: grey;
}
.header__dropdown-title {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 25px;
    display: flex;
    align-items: baseline;
    gap: 8px;
    cursor: pointer;
}
.header__dropdown-title p {
    font-family: 'HSESansRegular';
    display: inline-block;
    line-height: 1.5;
    color: rgba(23,24,26,0.8);
    font-weight: normal;
    font-size: 1rem;
    margin: 0;
    transition: 0.2s;
}
.header__dropdown-title svg {
    fill: none;
    stroke: rgba(23,24,26,0.8);
    transition: 0.2s;
    /* TODO: Safari not transitioning at all */
}
.header__dropdown-body {
    position: absolute;
    background-color: rgb(254, 254, 254);
    box-shadow: rgba(7, 7, 7, 0.17) 0px 1px 4px;
    border-radius: 3px;
    width: 200px;
    left: calc(50% - 112px);
    box-sizing: border-box;
    flex-direction: column;
    display: none;
}
.header__dropdown-item {
    background-color: rgb(242, 242, 242);
    min-height: 18px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: black;
}
.header__dropdown-item:hover {
    background-color: rgb(231, 231, 231);
}
.header__dropdown-item p {
    font-weight: normal;
    word-wrap: break-word;
    margin: 0;
}